bin/
obj/
node_modules/
.cproject
.project
.settings/
*.o
*.zip
bundle.js
Bericht*
gdal-2.2.1/
lib/
vorgehensweise
.gitignore~
vorgehensweise*
src/1597_LandingClient/bower_components/
*~
src/Durchmusterung/html/
src/Durchmusterung/latex/

